body {
background-color: #555555;
font-size: 14px;
font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
color:#564b47;
margin: 20px 140px  20px 140px;
text-align: center;
}

#content {
text-align: left;
background-color: #fff;
overflow: auto;
padding: 10px;
}


.heading {
font-size: 18px;
border-bottom: 1px solid #000;
margin-bottom: 10px;
}

#test-content {
	width: 400px;
}
#test-content table {
	width: 100%;
}

th{
	background: #cfcfcf;
}

.even {
	background: #efefef;	
}

.success {
	font-weight: bold;
	color: #009900;	
}

.fail {
	font-weight: bold;
	color: #dd0000;	
}

#test-content2 {
	width: 200px;
	margin-top: 20px;	
}

#test-content2 table {
	width: 100%;
}

#test-content3 {
	width: 200px;
	margin-top: 20px;	
}

#test-content3 table {
	width: 100%;
}

#test-content4 {
	width: 200px;
	margin-top: 20px;	
}

#test-content5 {
	width: 200px;
	margin-top: 20px;
}

.highlight {
	background-color: #00cc00;	
}

#test-content6 {
	background-color: #009900;
	font-size: 18px;
	color: white;
	height: 50px;	
	width: 200px;
	margin-top: 20px;
}

#test-content6_5 {
	background-color: #009900;
	font-size: 12px;
	color: white;
	height: 75px;	
	width: 200px;
	margin-top: 20px;
}

#sz-tst {
	width: 10px;
	height: 10px;
	overflow: hidden;
	background-color: #009900;
}

#mv-tst {
	position:absolute;
	width:10px;
	height: 10px;
	top: 0px;
	left: 0px;	
	background-color: #009900;
}

#test15 > td:last-child {
	color: #dd0000;	
	font-weight: bold;
}
