pom.xml
*jar
.lein-failures
.lein-deps-sum
.lein-repl-history
.repl
repl
out
target
.settings
.metadata
.project
.classpath
dev-resources/public/js/*.js
*.*#
.#*
*.*~
.DS_Store
dev-resources/.DS_Store
testing/resources/public
project/.generated
